.button {
    -fx-font-size: 11; -fx-text-fill: #fff; -fx-background-color: transparent; -fx-border-color: transparent;
}

.button:hover{
    -fx-font-size: 11; -fx-text-fill: #fff; -fx-background-color: #8593AE; -fx-border-color: transparent;
}

.titled-pane {
    -fx-text-fill: #fff;
}

.titled-pane .title:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #8593AE;
    -fx-border-radius: 5px;
}


#imagen{
      
        -fx-background-color: #99bb96;
        /*20232A*/
    }
.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
}

.accordion .title > .arrow-button .arrow{
    -fx-background-color: transparent;
}

.accordion .title{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}


